
  </head>
  <body>
    <div style="float:left"></div>
    <h1>Full Stack Project</h1>
    <h3>This project is an exercise to look at your understanding of full-stack training. This is your change to show off your "Programming Love 🖤", your dedication, and your attention to details. Your solution should be well documented and tested for production release. It should follow good coding conventions, and should be easy to get running.</h3>
    </div>  
    <div style="float: right;"> 
        <a href="register/"><button> Register </button>
        <a href="signin/"> <button>Singin</button></a>


    </body>
</html>
